.cell{
    background-color: brown;
    width: 10px;
    height: 10px;
}

.row1 {
    display: flex;
    border: 3px solid white;
}


.cell1{
    background-color: brown;
    width: 10px;
    height: 10px;
}

.cell2 {
    background-color: brown;
    width: 10px;
    height: 10px;
} 
}